absl-py==1.4.0
appdirs==1.4.4
asttokens==2.2.1
backcall==0.2.0
begins==0.9
cachetools==5.2.1
charset-normalizer==3.0.1
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.1.14
contourpy==1.0.7
cuda-python==12.4.0
cycler==0.11.0
Cython==0.29.33
decorator==5.1.1
dxcam==0.0.5
easycython==1.0.7
executing==1.2.0
filelock==3.9.0
flatbuffers==23.1.21
fonttools==4.38.0
fsspec==2023.4.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
grpcio==1.51.1
humanfriendly==10.0
idna==3.4
inputs==0.5
ipython==8.8.0
jedi==0.18.2
Jinja2==3.1.2
keyboard==0.13.5
kiwisolver==1.4.4
Mako==1.3.2
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mouse==0.7.1
MouseInfo==0.1.3
mpmath==1.2.1
mss==7.0.1
networkx==3.2.1
numpy==1.23.5
nvidia-pyindex==1.0.9
oauthlib==3.2.2
onnx==1.13.0
onnxruntime==1.13.1
onnxruntime-gpu==1.17.1
opencv-python==4.7.0.72
packaging==23.0
pandas==1.5.2
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==4.2.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycuda==2024.1
PyDirectInput==1.0.4
PyGetWindow==0.0.9
Pygments==2.14.0
PyMsgBox==1.0.9
pynput==1.7.6
pyparsing==3.0.9
pyperclip==1.8.2
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pytools==2023.1.1
pytweening==1.0.4
pytz==2022.7.1
pywin32==305
pyWinhook==1.6.2
PyYAML==6.0
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.10.0
seaborn==0.12.2
six==1.16.0
stack-data==0.6.2
sympy==1.11.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
# tensorrt ### you are supposed to manually installed it.
thop==0.1.1.post2209072238
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchvision==0.17.1+cu121
tqdm==4.64.1
traitlets==5.8.1
typing_extensions==4.8.0
ultralytics==8.1.27
urllib3==1.26.14
vgamepad==0.0.8
wcwidth==0.2.6
Werkzeug==2.2.2
wincertstore==0.2
