appdirs==1.4.4
begins==0.9
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.4.4
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
dxcam==0.0.5
easycython==1.0.7
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.53.0
fsspec==2024.6.0
huggingface-hub==0.23.3
humanfriendly==10.0
idna==3.7
intel-openmp==2021.4.0
Jinja2==3.1.4
kiwisolver==1.4.5
Mako==1.3.5
MarkupSafe==2.1.5
matplotlib==3.9.0
mkl==2021.4.0
MouseInfo==0.1.3
mpmath==1.3.0
mss==9.0.1
networkx==3.3
numpy==1.26.4
onnx==1.16.1
onnxruntime==1.18.0
opencv-python==4.10.0.82
packaging==24.1
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
protobuf==5.27.1
psutil==5.9.8
py-cpuinfo==9.0.0
PyAutoGUI==0.9.54
pycuda==2024.1
PyDirectInput==1.0.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.1.2
pyperclip==1.8.2
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
pytools==2024.1.5
pytweening==1.2.0
pytz==2024.1
pywin32==306
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sympy==1.12.1
tbb==2021.12.0
tensorrt @ file:///C:/Users/DEVIL/Desktop/app/TensorRT-8.6.1.6/python/tensorrt-8.6.1-cp311-none-win_amd64.whl#sha256=0c5c513d82a53a7d3e08014f81f17a536828c8d0c1ebc1b392362f538f65fc80
tokenizers==0.19.1
torch==2.3.1+cu121
torchaudio==2.3.1+cu121
torchvision==0.18.1+cu121
tqdm==4.66.4
transformers==4.41.2
typing_extensions==4.12.2
tzdata==2024.1
ultralytics==8.2.31
ultralytics-thop==0.2.8
urllib3==2.2.1
